<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sports Shop</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="/assets/css/styles.op-event.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
<main>
    <!-- Header v1 -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
            data-header-fix-moment="100">
        <div class="light-theme u-header__section g-bg-darkblue-opacity-0_7 g-transition-0_3 g-py-10"
             data-header-fix-moment-exclude="light-theme g-bg-darkblue-opacity-0_7"
             data-header-fix-moment-classes="dark-theme u-shadow-v18 g-bg-white-opacity-0_9">
            <nav class="navbar navbar-expand-lg g-py-0">
                <div class="container g-pos-rel">
                    <!-- Logo -->
                    <a href="#!" class="js-go-to navbar-brand u-header__logo"
                       data-type="static">
                        <img class="u-header__logo-img u-header__logo-img--main d-block image-responsive" src="/images/finki_mk.png" alt="Image description" style="height:50px"
                             data-header-fix-moment-exclude="d-block"
                             data-header-fix-moment-classes="d-none">

                        <img class="u-header__logo-img u-header__logo-img--main d-none" style="height:50px" src="/images/finki_b.png" alt="Image description"
                             data-header-fix-moment-exclude="d-none"
                             data-header-fix-moment-classes="d-block">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                        <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-5--lg ml-auto">
                            <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg"  th:each="category : ${categories}">
                                <a th:href="${category.id}" class="nav-link p-0" th:text="${category.name}">Почетна</a>
                            </li>

                            <li class="nav-item g-ml-15--lg">
                                <a href="#contact" class="nav-link p-0">Контакт</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header v1 -->

    <!-- Section Content -->
    <section id="home" class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_7--after g-pt-150" style="background-image: url(/images/promo.jpg);">

        <div class="container u-bg-overlay__inner g-bottom-minus-70 px-0">
            <div class="row u-shadow-v23 g-theme-bg-blue-dark-v2 mx-0">
                <div class="col-md-6 px-0">
                    <div class="js-carousel text-center u-carousel-v5 g-overflow-hidden h-100 g-max-height-50vh"
                         data-infinite="true"
                         data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-40 g-height-40 g-font-size-20 g-color-white g-color-primary--hover g-bg-primary g-bg-white--hover g-transition-0_2 g-transition--ease-in"
                         data-arrow-left-classes="fa fa-angle-left g-left-0"
                         data-arrow-right-classes="fa fa-angle-right g-right-0">
                        <div class="js-slide g-bg-img-hero g-min-height-50vh" th:style="'background-image: url(/'+${device.photoUrl}+');background-size:contain'" style=""></div>

                        <div class="js-slide g-bg-img-hero g-min-height-50vh" style="background-image: url(/assets/img-temp/1000x667/img2.jpg);"></div>
                    </div>
                </div>

                <div class="col-md-6 d-flex g-min-height-50vh g-theme-color-gray-dark-v1 g-px-50 g-py-80 g-py-50--md g-py-20--lg">
                    <div class="align-self-center w-100">
                        <h2 class="text-uppercase g-font-weight-700 g-font-size-30 g-color-primary g-mb-10" th:text="${device.name}"></h2>
                        <h3 class="text-uppercase g-font-weight-500 g-font-size-13 g-color-white g-mb-20" th:text="${device.manufacturer.name}"></h3>
                        <p class="g-font-size-14" th:text="${device.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->





    <!-- Section Content -->
    <section id="guests" class="g-py-100">
        <div class="container">
            <div class="text-center g-mb-70">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">Популарно
                    <span class="g-font-weight-400 g-font-size-40">|</span>
                    <span class="g-color-primary"></span></h2>

                <p></p>
            </div>
        </div>

        <div class="js-carousel u-carousel-v1 u-carousel-v3 g-pb-50"
             data-infinite="true"
             data-center-mode="true"
             data-center-padding="20px"
             data-slides-show="4"
             data-focus-on-select="true"
             data-arrows-classes="u-arrow-v1 g-absolute-centered--x g-bottom-0 g-width-40 g-height-40 g-font-size-20 g-color-white g-bg-primary g-bg-black--hover g-transition-0_2 g-transition--ease-in"
             data-arrow-left-classes="fa fa-angle-left g-ml-minus-25"
             data-arrow-right-classes="fa fa-angle-right g-ml-30"
             data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "100px"
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "60px"
               }
             }, {
               "breakpoint": 576,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "40px"
               }
             }]'>

            <div th:each="device : ${devices}" class="js-slide g-parent g-px-15 g-pb-30">
                <article>
                    <img class="img-fluid width-100" th:src="${device.photoUrl}" alt="Image description">

                    <div class="u-shadow-v24--active g-pa-30">
                        <header class="text-uppercase g-mb-20">
                            <h3 class="g-font-weight-700 g-font-size-14 g-mb-5" th:text="${device.name}"></h3>
                            <h4 class="g-font-weight-700 g-font-size-11 g-color-primary mb-0" th:text="${device.manufacturer.name}"></h4>
                        </header>

                        <p class="g-mb-20" th:text="${device.description}"></p>


                    </div>
                </article>
            </div>



        </div>
    </section>
    <!-- End Section Content -->
    <!-- End Footer -->

    <a class="js-go-to rounded-0 u-go-to-v1" href="#!"
       data-type="fixed"
       data-position='{
           "bottom": 15,
           "right": 15
         }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<!-- JS Global Compulsory -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="/assets/vendor/appear.js"></script>
<script src="/assets/vendor/jquery.countdown.min.js"></script>
<script src="/assets/vendor/fancybox/jquery.fancybox.js"></script>
<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>

<script src="/assets/js/hs.core.js"></script>
<script src="/assets/js/components/hs.header.js"></script>
<script src="/assets/js/helpers/hs.hamburgers.js"></script>
<script src="/assets/js/components/hs.scroll-nav.js"></script>
<script src="/assets/js/components/hs.tabs.js"></script>
<script src="/assets/js/components/hs.countdown.js"></script>
<script src="/assets/js/components/hs.carousel.js"></script>
<script src="/assets/js/components/gmap/hs.map.js"></script>
<script src="/assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="/assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
    // initialization of google map
    function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
    }

    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of countdowns
        var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            monthElSelector: '.js-cd-month',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });
    });

    $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700
        });


    });


</script>

</body>
</html>
